#cookieConsent {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 10;
    width: 350px;
    margin: 20px;
}

#cookieConsent h1 {
    font-size: 32px;
}

#cookieConsentContainer {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    column-gap: 20px;
}

#cookieConsentText {
    font-size: 21px;
    line-height: 1.25;
}

#cookieConsentAccept,
#cookieConsentDeny {
    background-color: transparent;
    border: solid 1.5px white;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    padding: 7.5px 20px;
    transition: all 0.3s ease-in-out;
}

#cookieConsentAccept:hover,
#cookieConsentDeny:hover,
#cookieConsentLearnMore:hover {
    background-color: #fff;
    color: #333;
}

#cookieConsent p a {
    color: white;
}

#cookieConsent p a::after {
    background-color: rgb(255, 255, 255);
}