:root {
    --cal-text-size: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveIn {
    0% {
        transform: translateX(-2rem);
    }
    100% {
        transform: translateX(0);
    }
}

.hero-image {
    background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5), transparent), url('../images/STS-130_exhaust_cloud_engulfs_Launch_Pad_39A.jpg');
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.25em;
    min-height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.hero-image h1 {
    animation-name: fadeIn;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.hero-image h2 {
    animation-name: fadeIn, moveIn;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-out;
    animation-fill-mode: both;
    animation-delay: .25s;
}

.hero-image p {
    width: min(75vw, 455px);
    animation-name: fadeIn, moveIn;
    animation-duration: 1.5s, 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-out;
    animation-fill-mode: both;
    animation-delay: .33s;
}

.featured-content .content-container,
.featured-content .content-container-reverse {
    display: flex;
    flex: auto;
    flex-direction: row;
    height: calc(calc(100vh - 80px)/2);
}

.featured-content .content-container-reverse {
    flex-direction: row-reverse;
}

.text-container,
.content-container-reverse .text-container {
    max-width: 33vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.text-container p,
.text-container .full-article {
    position: relative;
    height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: max(17px, calc(0.75vw + 66%));
    padding: 0px 10px 0px 10px;
}

.text-container p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0.013) 8.1%, hsla(0, 0%, 100%, 0.049) 15.5%, hsla(0, 0%, 100%, 0.104) 22.5%, hsla(0, 0%, 100%, 0.175) 29%, hsla(0, 0%, 100%, 0.259) 35.3%, hsla(0, 0%, 100%, 0.352) 41.2%, hsla(0, 0%, 100%, 0.45) 47.1%, hsla(0, 0%, 100%, 0.55) 52.9%, hsla(0, 0%, 100%, 0.648) 58.8%, hsla(0, 0%, 100%, 0.741) 64.7%, hsla(0, 0%, 100%, 0.825) 71%, hsla(0, 0%, 100%, 0.896) 77.5%, hsla(0, 0%, 100%, 0.951) 84.5%, hsla(0, 0%, 100%, 0.987) 91.9%, hsl(0, 0%, 100%) 100%);
}

.text-container p a:link {
    font-style: unset;
    color: rgb(110, 110, 110);
}

.text-container p a:link::after {
    background-color: rgb(110, 110, 110);
}

.text-container .full-article a:link {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.image-container,
.content-container-reverse .image-container {
    position: relative;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.008) 5.8%, hsla(0, 0%, 0%, 0.029) 12.7%, hsla(0, 0%, 0%, 0.061) 20.4%, hsla(0, 0%, 0%, 0.103) 28.7%, hsla(0, 0%, 0%, 0.155) 37.5%, hsla(0, 0%, 0%, 0.215) 46.4%, hsla(0, 0%, 0%, 0.283) 55.4%, hsla(0, 0%, 0%, 0.358) 64.1%, hsla(0, 0%, 0%, 0.439) 72.3%, hsla(0, 0%, 0%, 0.525) 79.9%, hsla(0, 0%, 0%, 0.615) 86.5%, hsla(0, 0%, 0%, 0.709) 92.1%, hsla(0, 0%, 0%, 0.805) 96.3%, hsla(0, 0%, 0%, 0.902) 99%, hsl(0, 0%, 0%) 100%);
}

.image-container img {
    object-fit: cover;
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
}

.image-container h2 {
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    z-index: 1;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    font-style: normal;
    opacity: 0;
    transition: opacity, 0.5s ease-out;
}

.featured-type {
    transform: translateY(50px);
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    z-index: 1;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    font-size: 4rem;
    padding: auto;
    margin-bottom: 50px;
    margin-left: 10px;
    line-height: 6rem;
    font-style: italic;
    transition: transform, font-size, 0.5s ease-out;
}

.image-container:hover .featured-type {
    transform: translateY(0px);
    font-size: 2rem;
    transition: transform, font-size, 0.5s ease-out;
}

.image-container:hover h2 {
    opacity: 1;
    transition: opacity, 0.5s ease-out;
}

.full-article {
    display: block;
}

@media (hover: none) {
    .featured-type {
        transform: translateY(0px);
        font-size: 2rem;
    }
    .image-container h2 {
        opacity: 1;
    }
}