:root {
    --cal-text-size: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveIn {
    0% {
        transform: translateX(-2rem);
    }
    100% {
        transform: translateX(0);
    }
}

.hero-image {
    background: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .5), transparent), url('/images/STS-130_exhaust_cloud_engulfs_Launch_Pad_39A.jpg');
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 1.25em;
    min-height: calc(100vh - 85px);
    display: flex;
    flex-direction: column;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.hero-image h1 {
    animation-name: fadeIn;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.hero-image h2 {
    animation-name: fadeIn, moveIn;
    animation-duration: 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-out;
    animation-fill-mode: both;
    animation-delay: .25s;
}

.hero-image p {
    width: min(75vw, 455px);
    animation-name: fadeIn, moveIn;
    animation-duration: 1.5s, 1.0s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in, ease-out;
    animation-fill-mode: both;
    animation-delay: .33s;
}

.featured-content .content-container,
.featured-content .content-container-reverse {
    display: flex;
    flex: auto;
    flex-direction: row;
    height: calc(50vh, -100px);
}

.featured-content .content-container-reverse {
    flex-direction: row-reverse;
}

.content-container .text-container,
.content-container-reverse .text-container {
    max-width: 33vw;
    min-width: 250px;
    display: flex;
    height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.text-container p,
.text-container .full-article {
    text-overflow: ellipsis;
    font-size: max(17px, calc(0.75vw + 66%));
    padding: 0px 10px 0px 10px;
}

.text-container p a:link {
    font-style: unset;
    color: rgb(110, 110, 110);
}

.text-container p a:link::after {
    background-color: rgb(110, 110, 110);
}

.text-container .full-article a:link {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.featured-content .content-container .image-container,
.featured-content .content-container-reverse .image-container {
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    object-fit: cover;
    flex-shrink: 0;
    max-width: 100%;
    min-height: 100%;
}

.full-article {
    display: block;
}