@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Sarabun:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    font-family: 'TH Sarabun New', 'TH Sarabun PSK', 'Sarabun', 'Dilennia New', 'Cordia New', 'Thonburi', 'Inter', 'Open Sans', sans-serif;
}

body {
    margin: 85px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

h1 {
    font-size: clamp(16px, 10vw, 5rem);
    line-height: 100%;
    padding: 3rem;
}

h2 {
    font-size: 4rem;
    line-height: 0%;
    padding-left: 3rem;
}

p {
    padding: 3rem;
    padding-top: 0%;
    font-size: 21px;
}

p a:link {
    color: inherit;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

p a:link::after {
    content: '';
    position: absolute;
    top: 1em;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

p a:link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p a:visited {
    color: rgb(200, 200, 200);
}

p a:visited::after {
    content: '';
    position: absolute;
    top: 1em;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(200, 200, 200);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

p a:link:active,
p a:visited:active {
    color: rgb(150, 150, 150);
}

.headernav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.headernav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.headernav a:hover,
.headernav a:focus {
    opacity: 100%;
    transition: opacity 0.25s ease-out;
}

.right-container {
    display: flex;
    padding-right: 10px;
}

.search-container {
    float: right;
    margin: 10px;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 2px;
    border-width: 1px;
    display: flex;
    height: 50%;
}

.search-container button {
    padding: 4px 10px;
    background: rgb(155, 155, 155);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
}

.search-container .icon {
    margin: 5px;
    padding-left: 2px;
    height: 50%;
}

.search-container button:hover {
    opacity: 1;
}

.searchbox {
    color: white;
    border-radius: 1px;
    font-size: 18px;
    background-color: transparent;
    box-sizing: border-box;
    min-height: 32px;
    border-style: none;
    padding: 4px 8px;
    width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navBtnControl {
    display: none;
}

#navBtnControl:checked+label {
    background: url(/images/chevron-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

.hamburger-icon {
    background: url(/images/hamburger-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
}

#menu {
    color: white;
    text-align: right;
    font-size: 200%;
    padding: 0;
}

#menu a {
    padding: 0;
    line-height: 100%;
}

.submenu a {
    font-size: 75%;
    opacity: 60%;
    line-height: 80%;
}

.submenu:last-child {
    margin-bottom: 1.25rem;
}

.sidenav {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 80px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    transform: translate(100%);
    transition: transform 0.25s ease-out;
    animation: AnimationIn 0s ease-out 0.25s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes AnimationIn {
    to {
        visibility: hidden;
    }
}

#navBtnControl:checked~div.sidenav {
    display: block;
    transform: translate(0%);
    transition: transform 0.25s ease-out;
    animation: AnimationOut 0s ease-out 0.25s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes AnimationOut {
    to {
        visibility: visible;
    }
}


/*-----------------------*/

@keyframes onLoadTitle {
    0% {
        height: calc(100vh - 85px);
    }
    100% {
        height: 6rem;
    }
}

@keyframes onLoadOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes onLoadTitleText {
    0% {
        font-size: 10rem;
    }
    100% {
        font-size: 5rem;
    }
}

.title-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    animation-name: onLoadTitle;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.title-container img {
    min-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
}

.title-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000000, #00000085);
    animation-name: onLoadOverlay;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.title-container h1 {
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    z-index: 1;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    animation-name: onLoadTitleText;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}