@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Sarabun:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px
}

* {
    font-family: 'TH Sarabun New', 'TH Sarabun PSK', 'Sarabun', 'Dilennia New', 'Cordia New', 'Thonburi', 'Inter', 'Open Sans', sans-serif;
}

main {
    margin: 3rem;
}

body {
    margin: 85px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

p,
figcaption {
    margin-top: 0;
    padding-top: 0%;
    font-size: 21px;
    margin-bottom: 0.5em;
}

main p {
    text-indent: 2em;
}

h1 {
    font-size: clamp(16px, 10vw, 5rem);
    line-height: 100%;
}

h2 {
    font-size: 3rem;
    line-height: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

h3 {
    margin: 0;
    font-size: 2rem;
}

h4,
h5 {
    font-size: 24px;
}

h5 {
    font-weight: initial;
    margin: 0;
}

p a {
    text-indent: 0;
}

p a:link {
    color: inherit;
    text-decoration: none;
    font-style: italic;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

p a:link::after {
    content: '';
    position: absolute;
    top: 1em;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

p a:link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p a:visited {
    color: rgb(100, 100, 100);
}

p a:visited::after {
    content: '';
    position: absolute;
    top: 1em;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: rgb(100, 100, 100);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

p a:link:active,
p a:visited:active {
    color: rgb(150, 150, 150);
}

figure {
    border: 1px #CCC solid;
    padding: 4px;
    margin: 20px;
    margin-left: 0;
    text-align: center;
    line-height: 200%;
    color: rgb(85, 85, 85);
    max-width: 80vw;
    float: left;
}

figure img {
    object-fit: contain;
    width: inherit;
}

video {
    object-fit: contain;
    width: inherit;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    float: right;
    clear: right;
    width: 350px;
    margin: 0px 0px 20px 20px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}

.infobox h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.infobox img {
    margin: 0;
    max-width: 100%;
    max-height: 300px;
}

.infobox .caption {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#infobox-float {
    display: none;
}

#infobox-float+label {
    background: url(../images/lock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
    position: relative;
    float: right;
    clear: right;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: -10px 10px -10px -10px;
    transform: translatey(125%);
}

#infobox-float:checked+label {
    background: url(../images/unlock.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    position: fixed;
    right: 0;
    color: white;
    margin-right: 25px;
    top: 100px;
    transform: translate(-120%, 275%);
    z-index: 2;
}

#infobox-float+label:hover::after {
    visibility: visible;
}

#infobox-float:checked~div.infobox {
    position: fixed;
    right: 0;
    margin-right: calc(3rem - 20px);
    top: 130px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, .2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 75vh;
    max-height: calc(100vh - 200px);
    min-height: 50px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;
    resize: vertical;
    transition: background 0.5s ease-out, box-shadow 0.5s ease-out;
}

#infobox-float:not(:checked)~div.infobox {
    height: auto !important;
}

tbody {
    width: 350px;
}

table,
tr {
    border-top: 1px solid rgb(220, 220, 220);
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    vertical-align: top;
    min-width: 150px;
    max-width: 150px;
    padding: 7px;
}

td {
    min-width: 150px;
    max-width: 150px;
    padding: 7px;
}

.infobox-header {
    background: rgb(220, 220, 220);
    text-align: center;
}

#infobox-float:checked~div.infobox .infobox-header {
    background: rgba(220, 220, 220, .7);
}

.infobox-subheader {
    background: rgb(240, 240, 240);
    text-align: center;
}

#infobox-float:checked~div.infobox .infobox-subheader {
    background: rgba(240, 240, 240, .7);
}

.infobox ul {
    margin: 0;
    padding-left: 0;
}

.no-border {
    border: none;
}

.headernav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.headernav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.headernav a:hover,
.headernav a:focus,
.headernav a.active {
    opacity: 100%;
    transition: opacity 0.25s ease-out;
}

.headernav a.active {
    font-weight: bold;
    cursor: pointer;
}

.right-container {
    display: flex;
    padding-right: 10px;
}

.search-container {
    float: right;
    margin: 10px;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 2px;
    display: flex;
    height: 50%;
}

.search-container:focus-within {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.search-container button {
    padding: 4px 10px;
    background: rgb(155, 155, 155);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.125s ease-in;
}

.search-container button:hover {
    opacity: 1;
    transition: opacity 0.125s ease-in;
}

.search-container button:active {
    background: white;
}

.search-container .icon {
    margin: 5px;
    padding-left: 2px;
    height: 50%;
}

.searchbox {
    color: white;
    border-radius: 1px;
    font-size: 18px;
    background-color: transparent;
    box-sizing: border-box;
    min-height: 32px;
    border-style: none;
    padding: 4px 8px;
    width: 30vw;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 0px;
}

#navBtnControl {
    display: none;
}

#navBtnControl:checked+label {
    background: url(../images/chevron-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

.hamburger-icon {
    background: url(../images/hamburger-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
}

ul {
    list-style-type: none;
}

#menu {
    color: white;
    text-align: right;
    font-size: 200%;
    padding: 0;
}

#menu a {
    padding: 0;
    line-height: 100%;
}

.submenu a {
    font-size: 75%;
    opacity: 60%;
    line-height: 80%;
}

.submenu:last-child {
    margin-bottom: 1.25rem;
}

.sidenav {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 80px;
    background-color: rgba(0, 0, 0, .5);
    padding: 20px;
    transform: translate(100%);
    transition: transform 0.25s ease-out;
    animation: AnimationIn 0s ease-out 0.25s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    max-height: calc(100vh - calc(80px + calc(1.25rem) + 20px));
    overflow-y: auto;
}

@keyframes AnimationIn {
    to {
        visibility: hidden;
    }
}

#navBtnControl:checked~div.sidenav {
    display: block;
    transform: translate(0%);
    transition: transform 0.25s ease-out;
    animation: AnimationOut 0s ease-out 0.25s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes AnimationOut {
    to {
        visibility: visible;
    }
}


/*-----------------------*/

@keyframes onLoadTitle {
    0% {
        height: calc(100vh - 85px);
    }
    100% {
        height: 6rem;
    }
}

@keyframes onLoadOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes onLoadTitleText {
    0% {
        font-size: 10rem;
    }
    100% {
        font-size: 5rem;
    }
}

.title-container {
    background: #000000;
    width: 100%;
    overflow: hidden;
    position: relative;
    animation-name: onLoadTitle;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-delay: 1s;
    margin-bottom: 4rem;
}

.title-container img {
    min-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
}

.title-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #000000, #00000085);
    animation-name: onLoadOverlay;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.title-container h1 {
    margin: 3rem;
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    z-index: 1;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    animation-name: onLoadTitleText;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}